.konten-utama {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.konten-utama .kiri {
  flex: 2;
}

.konten-utama .kanan {
  flex: 1;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.kanan h2 {
  margin-bottom: 15px;
  color: #005bbb;
}

.berita h3 {
  font-size: 1em;
  margin-bottom: 5px;
}

.berita p {
  margin-bottom: 10px;
}

.berita a {
  color: #005bbb;
  text-decoration: none;
}

.berita a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .konten-utama {
    flex-direction: column;
  }

  .kanan {
    margin-top: 30px;
  }
}
